<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.montclair.mobilecomputing.r_soltes.schwifty">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".OpenPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpPage" />
        <activity android:name=".HomePage" />
        <activity android:name=".ForgotPassPage" />
        <activity android:name=".CreateBusinessPage" />
        <activity android:name=".AddEmployeePage" />
        <activity
            android:name=".LoginPage"
            android:label="@string/title_activity_open_page"
            android:theme="@style/AppTheme" />
        <activity android:name=".ErrorPage" />
        <activity android:name=".ManagerPanelPage" />
        <activity android:name=".ManagerNotificationPage" />
        <activity android:name=".SchedulePage" />
        <activity android:name=".TimeOffPage" />
        <activity android:name=".NotificationPageManager" />
        <activity android:name=".NotificationPageEmployee" />
        <activity android:name=".JobListPage" />
        <activity android:name=".ProfilePage" />
        <activity android:name=".AddShiftPage" />
        <activity android:name=".SchwiftPage" />
        <activity android:name=".SwapPage" />
        <activity android:name=".HowToUsePage"></activity>
    </application>

</manifest>